.main {
  min-width: 280px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: auto;
}

.title {
  text-align: center;
  padding: 30px;
}

.cardsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  width: 100%;
  row-gap: 32px;
  margin-bottom: 64px;
}

.cardsItem {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  max-width: 1184px;
  width: 100%;
  border-radius: 24px;
  padding: 24px;
  gap: 48px;
  background-color: var(--background-color);
}

.errorText {
  text-align: center;
}

.accentText {
  color: var(--accent-color);
  text-decoration: underline;
}

.accentText:hover,
.accentText:focus {
  color: var(--secondary-color);
}

@media (min-width: 600px) {
  .cardsItem {
    flex-wrap: nowrap;
  }
}
