.NoFindContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-top: 20px;
}

.NoFindContainer img {
  border-radius: 100px;
  width: 280px;
  animation: slideLeft 1000ms ease 1;
  border-radius: 12px;
  background: #e0e0e0;
  box-shadow:
    5px 5px 10px var(--accent-color),
    -5px -5px 10px var(--accent-light);
}

.NoFindContainer p {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  color: var(--accent-color);
  animation: slideUp 1000ms ease 1;
}

@media screen and (min-width: 480px) {
  .NoFindContainer img {
    width: 300px;
  }

  .NoFindContainer p {
    font-size: 46px;
  }
}
