/* .searchContainer {
  display: flex;
  align-items: flex-end;
  column-gap: 24px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.labelSelect {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
}

.customSelect {
  border: 1px solid var(--accent-light);
  outline: none;
  width: 144px;
  height: 48px;
  background: #fff;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 500;
  color: #121417;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 8px;
}

.customSelect:focus {
  border: 1px solid var(--accent-color);
}

.customSelect option {
  font-family: 'Roboto', sans-serif;
}

.customPlaceholder {
  color: #121417;
  font-size: 18px;
  font-weight: 500;
}

.customOption {
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  line-height: 1.11111;
  outline: none;
  color: rgba(18, 20, 23, 0.2);
}

.customOptionFocused {
  color: var(--dark-color);
}

.customValueContainer {
  border-radius: 14px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
} */

/* =======1 */

.searchContainer {
  display: flex;
  align-items: flex-end;
  column-gap: 24px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.labelSelect {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
}

.customSelect {
  border: 1px solid var(--accent-light);
  width: 144px;
  height: 48px;
  background: #fff;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 500;
  color: #121417;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.customSelectHover {
  border: 1px solid var(--accent-color);
}

.customSelectFocus {
  border: 1px solid var(--accent-color);
}

.customOption {
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.customOptionFocused {
  color: var(--dark-color);
}

.customValueContainer {
  border-radius: 14px;
}
