.main {
  min-width: 320px;
  max-width: 1440px;
  padding: 0 20px;
}

.searchBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  animation: 1000ms ease 0s 1 normal none running slideUp;
}
