:root {
  --background-color: #ffffff;
  --primary-text-color: #121417;
  --secondary-text-color: #8a8a89;
  --accent-color: #f4c550;
  --secondary-color: #fbe9ba;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('/src/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url('/src/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('/src/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
  src: url('/src/fonts/Roboto-Italic.ttf');
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: #f8f8f8;
  font-weight: 400;
  font-size: 16px;
}

body.home-page {
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 1440px;
  padding: 20px;
  margin: 0 auto;
}

footer {
  font-weight: 500;
  line-height: 1.25;
  color: var(--secondary-text-color);
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (900 - 320)));
}

@media (min-width: 900px) {
  footer {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 20px 64px 32px;
  }
}
