main {
  min-width: 280px;
  max-width: 1440px;
  margin-bottom: auto;
}
.heroWrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 280px;
  gap: 24px;
  margin-bottom: 24px;
}

.heroDesc {
  border-radius: 30px;
  background-color: #f8f8f8;
  padding: 10px;
  padding-bottom: 4cap;
  text-align: center;
}

.heroTitle {
  font-weight: 500;
  font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (768 - 320)));
  line-height: 1.16667;
  letter-spacing: -0.02em;
  margin: 32px 0;
  max-width: 548px;
  width: 100%;
}

.heroSmall {
  font-style: italic;
  font-weight: 400;
  background-color: var(--secondary-color);
}

.heroText {
  max-width: 471px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  margin: 0 auto;
  margin-bottom: calc(40px + (64 - 40) * ((100vw - 320px) / (768 - 320)));
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (768 - 320)));
}

.heroLink {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  border-radius: 12px;
  background-color: var(--accent-color);
  padding: 20px 88px;
  min-width: 268px;
  margin-bottom: 64px;
  white-space: nowrap;
}

.heroLink:hover,
.heroLink:focus {
  color: var(--background-color);
}

.heroImg {
  max-width: 100%;
}

.heroList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 568px;
  padding: 40px 25px;
  border-radius: 30px;
  border: 1.5px dashed var(--accent-color);
  row-gap: 15px;
  margin: 0 auto 20px;
}

.heroItem {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 217px;
}

.heroTotal {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
}

.heroBenefits {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
  max-width: 80px;
}
@media (min-width: 700px) {
  .heroList {
    padding: 40px 25px;
  }
}
@media (min-width: 768px) {
  .heroTitle {
    font-size: 48px;
  }
  .heroText {
    margin: 0 auto;
    margin-bottom: 64px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .heroList {
    max-width: 100%;
  }
  .heroDesc {
    padding: 64px 10px;
  }
  .heroTitle {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
    max-width: 548px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .heroDesc {
    border-radius: 30px;
    background-color: #f8f8f8;
    padding: 98px 108px 98px 64px;
  }
  main {
    min-width: 320px;
    max-width: 1440px;
  }
  .heroWrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 320px;
    gap: 24px;
    margin-bottom: 24px;
  }
  .heroList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 100%;
    padding: 40px 0;
    border-radius: 30px;
    border: 1.5px dashed var(--accent-color);
    row-gap: 15px;
  }
  .heroTitle {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
    max-width: 548px;
    width: 100%;
  }
  .heroText {
    max-width: 471px;
    line-height: 1.375;
    letter-spacing: -0.02em;
    margin-bottom: 64px;
  }
}
