.searchContainer {
  display: flex;
  align-items: flex-end;
  column-gap: 24px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.labelSelect {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
}

.customSelect {
  border: 1px solid var(--accent-light);
  width: 144px;
  height: 48px;
  background: #fff;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 500;
  color: #121417;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.customSelectHover {
  border: 1px solid var(--accent-color);
}

.customSelectFocus {
  border: 1px solid var(--accent-color);
}

.customOption {
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.customOptionFocused {
  color: var(--dark-color);
}

.customValueContainer {
  border-radius: 14px;
}
